<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">
              <a routerLink="/inicio" href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
              </a>
              Sistema de Requisições
            </h3>
            <div class="form-signin">
              <form [formGroup]="formulario" (ngSubmit)="logar()">
                <fieldset>
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      class="form-control"
                      formControlName="email"
                      type="text"
                      placeholder="Informe o Email"
                    />
                    <div *ngIf="formulario.invalid" class="text-danger">
                      <span
                        *ngIf="formulario.controls['email'].errors?.['required']"
                        >Email é obrigatório</span
                      >
                      <span
                        *ngIf="formulario.controls['email'].errors?.['email']"
                        >Email inválido</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Senha</label>
                    <input
                      type="password"
                      formControlName="senha"
                      class="form-control"
                      placeholder="Senha"
                    />
                    <span
                      [hidden]=" !formulario.controls['senha'].errors?.['required']"
                      class="text-danger"
                      >Senha obrigatória!</span
                    >
                    <span
                      [hidden]=" !formulario.controls['senha'].errors?.['minlength']"
                      class="text-danger"
                    >
                      A senha deve ter mais de 6 caracteres!</span
                    >
                  </div>
                  <div class="button-content text-center">
                    <button
                      type="submit"
                      [disabled]="!formulario.valid"
                      class="btn btn-info btn-block"
                    >
                      <i class="fa fa-sign-in" aria-hidden="true"></i> LOGAR
                    </button>
                    <h6 class="text-center"><strong>OU</strong></h6>
                    <button
                      type="submit"
                      (click)="enviaLink()"
                      class="btn btn-lg btn-success btn-block text-uppercase"
                    >
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Recuperar
                    </button>
                  </div>
                </fieldset>
                <br />
                <div
                  class="alert alert-dismissible alert-danger"
                  *ngIf="mensagem && !emailEnviado"
                >
                  {{ mensagem }}
                </div>
                <div
                  class="alert alert-dismissible alert-info"
                  *ngIf="emailEnviado"
                >
                  <!-- Foi enviando um email para <strong>{{email}}</strong> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
