<p-dialog header="Dados do departamento" [style]="{ width: '30vw' }" [contentStyle]="{'overflow':'visible'}"
  [(visible)]="displayDialogDepartamento" [responsive]="true" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form?.value">
    <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
      <div class="form_field p-field p-col-12 p-md-6">
        <label for="nome">Nome*:</label>
        <input type="text" pInputText formControlName="nome" />
      </div>
      <div class="form_field p-field p-col-12 p-md-6">
        <label for="telefone">Telefone:</label>
        <p-inputMask formControlName="telefone"  mask="(99)9999-9999"></p-inputMask>
      </div>
    </form>
  </div>

  <div class="button-content  p-d-flex p-jc-end">
    <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="save()">
      <i class="fa fa-check-circle" aria-hidden="true"></i> {{edit ? 'Atualizar' : 'Salvar'}}
    </button>
  </div>

</p-dialog>
