<p-dialog  header="Dados do funcionário" [style]="{ width: '30vw' }" [contentStyle]="{'overflow':'visible'}"
  [(visible)]="displayDialogFuncionario" [responsive]="true" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">
    <form [formGroup]="form" class="form_field p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome*:</label>
        <input type="text" pInputText formControlName="nome" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="email">Email*:</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="departamento">Departamento*:</label>
        <ng-select [items]="departamentos$ | async" bindLabel="nome" formControlName="departamento">
        </ng-select>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="funcao">Função:</label>
        <input type="text" pInputText formControlName="funcao" />
      </div>

      <!-- <div class="p-field p-col-12 p-md-6">
        <label for="foto">Foto:</label>
        <input type="file" #inputFile class="form-control" (change)="upload($event)" />
        <progress style="width: 100%;" max="100" [value]="(uploadPercent | async)"></progress>
      </div> -->
    </form>
  </div>
  <div *ngIf="form.controls['nome'].errors || form.controls['email'].errors || form.controls['departamento'].errors "
    class="msg-warning text-warning ">*Preenchimento Obrigatório</div>

    <div class="button-content p-d-flex p-jc-end">
      <button [disabled]="!form.valid" type="button" class="btn btn-primary " (click)="save()">
        <i class="fa fa-check-circle"></i> {{edit ? 'Atualizar' : 'Salvar'}}
      </button>
    </div>

</p-dialog>
